[submodule "vendors/Symfony/Component/HttpFoundation"]
	path = vendors/Symfony/Component/HttpFoundation
	url = git://github.com/symfony/HttpFoundation.git
[submodule "vendors/Symfony/Component/ClassLoader"]
	path = vendors/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendors/lithium"]
	path = vendors/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "vendors/Pimple"]
	path = vendors/Pimple
	url = git://github.com/fabpot/Pimple.git
