<IfModule mod_rewrite.c>
    RewriteEngine On

    # don't rewrite things that point to real files
    RewriteCond %{REQUEST_FILENAME} !-f

    # but rewrite everything else to index.php
    RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>
